Django==5.2.9
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
psycopg[binary]==3.2.3
whitenoise==6.11.0
dj-database-url==3.0.1
python-decouple==3.8
django-cors-headers==4.3.1
django-filter==24.3
requests==2.32.4
tqdm==4.67.2
python-dotenv==1.0.1
pytz==2025.2
psycopg2-binary==2.9.11
django-leaflet==0.29.1
mapbox-vector-tile==2.2.0
geopandas==1.1.2
psutil==7.2.2
zstandard
